<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layouts/defaultTemplate">

<head>
</head>
<body>
	<div layout:fragment="content">
		<h1>Hello!</h1>
		<!--<p>Welcome to <span th:text="${Milestone2}">Milestone 2</span></p>-->
		<p>To begin adding products please Login or Register</p>
						<div>
					        <a href="/login" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Login</a>
							<a href="/register" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">Register</a>
					    </div>
		
	</div>
	
</body>


</html>