<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layouts/defaultTemplate">

<head>
	<title>Product Update Success</title>
</head>

<body>
	<div layout:fragment="content">
	    <div class="container text-center">
	        <h3>Your product was updated successfully!</h3>
	        <br>
	        <a href="/products/" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Back to Products</a>
	    </div>
	</div>
</body>
</html>